@import "reset.css";

/* general */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	background: #f2f2f2;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #666;
	line-height:1.6em;
}
	
a {
	color: #08c;
	outline: 0;
}
	
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active,
a:hover {
	color: #000;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
}

h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-weight: bold; font-size: 1em; line-height: 18px; }
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }

hr {
	background-color: #E7E7E7;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	clear:both;
}

p {
	padding: 0 0 0.5em;
	line-height:1.6em;
}
ul {
	list-style: square;
	margin: 0 0 18px 0;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
dl {
	margin:0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
	color: #000;
}
cite,
em,
i {
	font-style: italic;
	border: none;
}
big {
	font-size: 131.25%;
}
ins {
	background: #FFFFCC;
	border: none;
	color: #333;
}
del {
	text-decoration: line-through;
	color: #555;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
ins {
	text-decoration: none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 10px;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

p,
ul,
ol,
dd,
pre,
hr {
	margin-bottom:10px;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
pre,
kbd,
tt,
var {
	font-size: 15px;
	line-height: 21px;
}
code {
	font-size: 13px;
}
strong,
b,
dt,
th {
	color: #000;
}


/* main_container */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#wrapper {
	width:964px;
	margin: 0 auto;
	position: relative;
}

/* header*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#header {
	width:962px;
	height:80px;
	float:left;
}

#content {
	width:957px;
	float:left;
	z-index: 1;
	background: #fff;
	border: 1px solid #d2d2d2;
	border-top-color: #e5e5e5; !important;
	border-bottom: 0px;
	padding: 15px 0px 20px 5px;
}

#content #left-col {
	width:622px;
	float:left;
	z-index: 1;
	margin-right: 0px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	padding: 0px 5px 20px 25px;
}

#content #right-col {
	width:300px;
	padding:0px 0px 0px 3px;
	float:left;
	z-index: 1;
}

/*footer*/	
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#footer-desc{
	border-bottom: 1px solid #b8b8b8;
	height: 32px;
}

#footer #blog-info {
	padding: 7px 0px;
	margin-right: 30px;
	float: right;
}

#footer-widget{
	padding: 8px 30px;
}

#footer-widget .widget-container ul li a	{
	color:#888888;
}

#footer-widget .widget-container ul li a:hover	{
	color:#000;
}

#footer-widget .widget-container h3 {
	color: #666666;
	margin-bottom: 3px;
}

#footer {
	width:962px;
	height:100%;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-radius-bottomright: 5px;
	border-radius: 5px;
	margin: 0px auto;
	border: 1px solid #b8b8b8;
	background: #dddddd;
}

#footer-bar1 {
	width: 215px;
 	float: left;
}
#footer-bar2 {
	width: 215px;
 	float: left;
	padding-right: 20px;
}
#footer-bar3 {
	width: 215px;
 	float: left;
	padding-right: 20px;
}
#footer-bar4 {
	width: 215px;
 	float: left;
}

#footer-info {
	color:#666666;
	width: 904px;
	margin: 20px auto;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 30px;
}

#footer-info a{
	
}	

#footer-info span#copyright {
	float: left;
}

#footer-info span#follow-us {
	float: right;
	text-align: right;
}

/*logo*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#header #logo {
	float:left;
	margin: 25px 0px 0px 10px;
}

#logo a{
	text-decoration: none;
	color: #333;
	font-size: 33px;
	font-weight: bold;
	letter-spacing: -2pt;
}

/*search*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#search {
	width:160px;
	height:27px;
	background: url(/public/images/search_bg.png) no-repeat top left;
}

#search-header{
	float:right;
	margin-top:4px;
}

#search #searchsubmit {
	background:url(/public/images/search_btn.png) no-repeat top left;
	width:19px;
	height:19px;
	border:0px;
	margin-left:6px;

}

#search #s {
	width:120px;
	height:18px;
	border:0px;
	margin-top:6px;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #7e7e7e;
	display: inline;
}

/*menu bar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.menu {
	float: left;
	z-index: 2;
	background: url("/public/images/menu_bg.png") repeat-y top left;
	width: 943px;
	padding-left: 13px;
	padding-right: 8px;
	
}

#navbar {
	width: 722px;
	float: left;
}

#home_btn {
	width: 44px;
	height: 27px;
	float: left;
	margin: 5px 0px 0px 0px;
	background: url("/public/images/home_icon.png") no-repeat;
	text-indent: -9999em;
}

#home_btn a:hover{
	background: url("public/images/home_icon_on.png") no-repeat;
}

/* post */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.post {
	width:600px;
	float:left;
	padding: 10px 0px;
	margin-bottom: 18px;
	border-bottom: 1px solid #dddddd;
}

.post ol{
	margin-left: 15px;
}

.post ul {
	margin-left: 15px;
}
.post-entry ul { margin: 0 0 10px 10px; }
.post-entry ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 10px;
	background: url(/public/images/bullet.png) no-repeat 0 7px;
}

.post-entry ol {
	margin: 5px 0 10px 20px;
}
.post-entry ol li { 
	margin: 5px 0;
	list-style: decimal;
	padding: 0 0 0 0px;
 }

.post-entry {
	width:600px;
	float:left;
	padding-bottom: 10px;
	padding-top: 10px;
}

.post-head {
	margin-bottom: 5px;
}

.post-head h1 a, .post-head h1 {
	color:#333;
	margin:0;
}

.post-head h1 a:hover {
	color:#000;
}


.post-head h1, .post-head-notfound h1, .post-head-404 h1, .post-head-archive h1, .post-head-search h1 {
	margin-bottom: 10px;
	font:500 20px Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.post-head-single h1, .post-head-page h1 {
	margin-bottom: 10px;
	font:500 20px Verdana, Arial, Helvetica, sans-serif;
	padding-top: 12px;
	color:#333;
}

.post-thumb img {
	border: 1px solid #ebebeb;
	padding: 5px;
}

.meta-data{
	line-height: 18px;
	margin: 0px 0px 5px 0px;
	color:#8c8c8c;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
}

.meta-info {
	padding: 5px 0px;
}

.meta-data a{
	padding: 3px;
	color:#666666;
}

.meta-data a:hover{
	color:#000;
}
	
.read-more a{
	margin: 0px 0px;
	float: left;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 8px;
	background: url("/public/images/bullet-more.png") no-repeat right 11px;
}

.read-more a:hover{
	text-decoration: underline;
}

.clear {
	clear:both;
}

.sticky {
  border-bottom: 1px solid #e7e7e7;
}

/* content */
/*////////////////////////////////////////////////////////////////////////////////////////////*/
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 10px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 10px;
}
#content tr.odd td {
	background: #f2f7fc;
}
#content tfoot td {
	color: #666;
	font-size: 10px;
	font-weight: bold;
	padding: 9px 10px;
}

/* sidebar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#sidebar {
	float:left;
	width:290px;
	padding:0px 5px 20px 5px;
}

#sidebar ul  {
	list-style: none;
}

/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #333;
	font-size: 11px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
	border-left: 1px solid #e7e7e7;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 20px;
	margin: 0 0 24px 0;
	padding: 0 0 0 30px;

}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	border: 1px solid #666;
	float: left;
	margin-right: 8px;
}
.comment-author .fn a{
	text-decoration: none;
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color:#999999;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color:#999999;
}
.commentlist .even {
}
.commentlist .bypostauthor {

}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a {
	padding-right: 8px;
	background: url("/public/images/bullet-more.png") no-repeat right 6px;
}
.reply a:hover {
	
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}


/* Comments form */
#comments input[type=submit] {
	color: #333;
	cursor: pointer;
	width:120px;
	height:28px;
	display:block;
	background-color: #ebebeb;
	border:0;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 95%;
	border:1px solid #ebebeb;
	padding: 5px;
}
#respond textarea {
	width: 95%;
	border:1px solid #ebebeb;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/*gallery-wp*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#gallery-wp a{
	text-decoration: none;
	font-size: 18px;
}

.gallery-caption {
	margin: 0 0 5px;
}

/*--navigation--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.navigation {
	float: left;
	width: 600px;
	margin: 20px 0;
}


.navigation .alignleft a {
	float: left;
}

.navigation .alignright a {
	float: right;
}


/*--widget-formatting*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*general*/

#sidebar .widget-container{
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	margin-bottom: 18px;
	padding-bottom: 10px;
	padding: 0px 5px 10px 10px;
}

#sidebar .widget-container ul li a	{
	color:#666;
}

#sidebar .widget-container ul li a:hover	{
	color:#000;
}

#sidebar .widget-container h3 {
	color: #333; 
	padding: 5px 0px;
	margin: 10px 0px;
	overflow: hidden;
	height: 18px;
	font-size: 13px;
}

#sidebar .widget-container ul li {
	padding: 3px 0px 7px 12px;
	margin-left: 3px;
	margin-right: 5px;
}

#sidebar .widget-container ul li {
	background: url("/public/images/bullet.png") no-repeat 0px 10px;
}

#sidebar .widget-container ul li ul li{
	margin-left: 12px;
}

/*widgets*/

.textwidget {
	padding: 5px 0px;
}

#calendar_wrap {
	text-align: left;
	padding: 8px 5px 8px 0px;
	margin: 0;
}

#wp-calendar {
	text-align:	left;
	margin-top:	5px;
	width:	100%;
}

#wp-calendar caption{
	font-weight: bold;
	font-size: 11px;
	margin-bottom: .4em;
}

#wp-calendar td{
	padding:7px;
}

#wp-calendar #today{
	font-weight: bold; color: #000;
}


.widget_tag_cloud a{
	text-decoration: none;
	padding: 11px 0px;
}

/*Alignments */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#left-col img {
	max-width: 620px;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 4px;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter
{
	margin-bottom: 6px;
}

img.alignnone,
.alignnone {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 4px;
	margin-bottom: 12px;
}

.wp-caption {
	border: none;
	background: #f1f1f1;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 15px;
	padding: 4px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.wp-caption img {
	margin: 5px;
}
.wp-caption p.wp-caption-text {
	margin: 0 0 4px;
}
.wp-smiley {
	margin:0;
}

.selected {
    text-decoration:underline;
}

.loading {

}