#{extends 'main.html' /}
#{set title:'Bienvenue' /}

<P>List des astuces et des exemples présentés</P>
        <ul>
            <li>#{a @employees()}Pagination d'un tableau#{/a}, chargement de chaque page avec Ajax</li>
            <li>#{a @button()}Dessiner des boutons avec CSS3#{/a}</li>
            <li>#{a @listFilter()}Recherche filtrée#{/a}</li>
            <li>#{a @niceForm()}Formulaire#{/a}</li>
            <li>#{a @SecureController.login()}Authentification et autorisation#{/a}</li>
        </ul>