#{extends 'main.html' /}
#{set title:'Bienvenue' /}

<P>List des astuces et des exemples présentés</P>
        <ul>
            <li>#{a @employees()}Pagination d'un tableau#{/a}, chargement de chaque page avec Ajax</li>
            <li>#{a @button()}Boutons et dégradés avec CSS3#{/a}</li>
            <li>#{a @listFilter()}Recherche filtrée#{/a} avec jQuery</li>
            <li>#{a @niceForm()}Formulaire HTML5#{/a}</li>
            <li>#{a @SecureController.login()}Authentification et autorisation#{/a} avec Play! Framework</li>
            <li>#{a @BigPage.index()}Test de chargement tableau voumineux#{/a}</li>
            <li>#{a @BigPage.yahooTableSorted()}Tableau avancé#{/a} avec Yahoo! UI</li>
            <li>#{a @BigPage.autocomplete()}Autocomplete#{/a}  avec Yahoo! UI</li>
            <li>#{a @Search.masterDetails()}Recherche master details#{/a}</li>
            <li>#{a @Application.demoHTML5()}Page HTML5#{/a}</li>
        </ul>