#{extends 'main.html' /}
#{set title: 'Nice Form' /}


#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-1.4.4.min.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

#{form @Application.create(), class:'niceForm'}
<fieldset>
    <legend>Créer un nouvel employé</legend>

    <label title="lTest" for="pr1">Prénom :
        <input id="pr1" type="text" name="firstName" size="40" placeholder="Tapez ici le prénom" tabindex="1"
               autofocus required/>
    </label>


    <label title="lTest2" for="pr2">Nom :
        <input id="pr2" type="text" name="lastName" size="40" placeholder="Tapez ici le nom" tabindex="2" required/>
    </label>

    <label title="lMail" for="pr3">Email :
        <input id="pr3" type="email" name="email" size="40" placeholder="Par exemple : nom@domain.com" tabindex="3"/>
    </label>

    <label title="spinBox">Combien avez-vous d'ordinateur ?
        <input type="number" name="computers"
               min="0"
               max="10"
               step="1"
               value="1">
    </label>


    <label title="range">Sur une échelle de 0 à 100, indiquez votre connaissance d'Internet : <br/>
       0 <input type="range"
               name="internetKnowledge"
               min="0"
               max="100"
               step="1"
               value="1"> 100
    </label>

    <label>A quelle date l'employé a-t-il rejoint votre société ?
    <input type="date" name="hiredAt"/>

    </label>

    <input type="submit" value="Enregistrer"/>

</fieldset>
#{/form}

#{set 'rightBar'}
    <P>Liste des fonctions:</P>
    <ul>
        <li>Utilisation de placeholder</li>
        <li>Utilisation d'autofocus [<a href="http://diveintohtml5.org/forms.html">1</a>]</li>

    </ul>
#{/set}


