<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    #{get 'moreScripts' /}
</head>
<body>

<section id="wrapper">
    <header>
        <h1>Header</h1>

    </header>
    <article>
        <section>
            <p>Exemple de page HTML5</p>
        </section>
        <section id="editable" contenteditable="true">
            <h2>Go ahead, edit away!</h2>

            <p>Here's a typical paragraph element</p>
            <ol>
                <li>and now a list</li>
                <li>with only</li>
                <li>three items</li>
            </ol>
        </section>
    </article>
    <footer>Copyright(c) Nicolas Martignole - Pimp My App</footer>
</section>
</body>
</html>